html,
body {
  height: 100%;
  width: 100%;
  color:#fff;
}
body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  background: #666;
  webkit-tap-highlight-color: #222222;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.green {
    background: #2d7f1d;
}
.black{
    background-color: #04102d;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fff;
  font-weight: 200;
}
a:hover,
a:focus {
  color: #ddd;
  text-decoration: none;
  outline:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
i.background-icon{
    position:fixed;
    font-size:70vh;
    color:#fff;
    opacity: 0.05;
    top: calc(50% - 35vh);
    left: calc(50% - 35vh);
    z-index: -1;
}
section {
  padding: 50px 0px;
  min-height:100%;
  text-align: center;
}
section h2 {
  font-size: 50px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border: 2px solid #fff;
  background: rgba(255,255,255,0);
}
.btn{
    margin-top: 20px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
label.custom-radio {
    font-weight: 100;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  margin-bottom: 0;
}

input[type=radio]:checked + label{
  color: #334668;
  background: #fff;
}
.radio-group {
  border: solid 2px #fff;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}
